{%extends 'base.html'%}
{%block title%}
    Login
{%endblock%}
{%block header%}
    Login
{%endblock%}
{%block content%}
    {% if messages %} 
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show">
        <strong>Watchout!!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %} 
    {% endif %}
    {%if request.user.is_authenticated%}
    I am in
    {%else%}
    <form method="POST" class="needs-validation my-4" novalidate>
        <div class="form-group" >
        {%csrf_token%}
        {% for field in form %}    
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <br>

        <button class="btn btn-outline-primary" style="margin-left:90px">Login</button>
        <a href="{% url 'create-user' %}"  class="btn btn-outline-warning" style="text-align: center;margin:20px 40px">Not Joined Yet? Sign-Up</a>
        </div>
        
    </form>
    {%endif%}

{%endblock%}